<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <div class="row" style="height:100px;">
        <div class ="col">
        </div>
        <div class ="col-6">
            <h2 th:text = "${sessionName}">sessions</h2>
        </div>
        <div class ="col">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <h3 th:text = "${title}">title</h3>
            <br/>
            <form method="POST">
                <div class="form-group">
                    <input class = "form-control" placeholder="e.g. Squats, Chest press" type="text" name="name" />
                </div>

                <!--div class="form-group" style = "display:none;">
                    <label th:for="type">Session</label>
                    <select name="seshId">
                        <option th:each="sesh : ${sessions}"
                                th:text="${sesh.name}"
                                th:value="${sesh.id}"></option>
                    </select>
                </div-->

                <div class="form-group">
                    <input class="form-control btn-secondary" type="submit" value="Add Exercise" />
                </div>
            </form>

        </div>
        <div class="col">
        </div>
    </div>
</div>

</body>
</html>