<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title th:text="${title}">Title</title>

    <div>
        <nav>
            <a href="/session">Home</a> |
            <a href="/session/add">New Session</a> |
            <a href="/exercise/add">Add Exercise</a> |
        </nav>
    </div>
</head>
<body>
<h1 th:text="${title}">Title</h1>
<table>
    <tr>
        <th>Exercise</th>
    </tr>

    <tr th:each="exercise: ${exercises}">
        <td><a th:href="'?id=' + ${exercise.id}" th:text="${exercise.name}"></a></td>
    </tr>
</table>

</body>
</html>