<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <h1 th:text = "${title}">Default Title</h1>
            <!--form method="POST">
                <div class="form-group">
                    <span>
                    <label th:for="reps">Reps:</label>
                <input class = "form-control" type="number" id="reps" name="rep" />
                        </span>
                </div>
                <div class = "form-group">
                    <label th:for="weight">@ Weight:</label>
                    <input class="form-control" type="text" id="weight" name ="weight" />
                </div>
                <div class="form-group">
                <input class="form-control btn-secondary" type="submit" value="Add Set" />

                type="number" name="rep" id="reps"
                type="text" name="weight"

            </div>
            </form-->



            <!--form method = "POST" id="set-form">
                <div class="input-group">
                 <input class= "form-control" type="number" name="rep" id="reps"/>
                    <span class="input-group-addon">-</span>
                <input class="form-control" type="text" name="weight" placeholder="Enter the weight..." />
            </div>
            </form-->

            <form th:object="${setForm}" method = "POST" id="set-form">
                <!--label th:for="reps">Reps</label-->
                <!--label th:for="weight">@ Weight:</label-->
                <div th:each="sets, row : *{setsList}" class="input-group">
                    <input class= "form-control" type="number" th:field="*{setsList[__${row.index}__].rep}" name="rep" id="reps"/>
                    <span class="input-group-addon">-</span>
                    <input class="form-control" type="text" th:field="*{setsList[__${row.index}__].weight}" name="weight" placeholder="Enter weight..." />
                </div>
                <!--input type="submit" id="submit-form" value = "Finish Set" style = "visibility:hidden;" /-->
            </form>
            <br>
            <button id = "add-set">Add Set</button>
            <button form="set-form">Finish</button>



        </div>
        <div class="col">
        </div>
    </div>
</div>
</body>
<script src = "/js/addSet.js"></script>
</html>