<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <h1 style ="text-align: center;padding:10px;" th:text = "${title}">Default Title</h1>
            <table class="table">
            <thead class = "thead-light">
                <tr>
                    <th>Reps</th>
                    <th>Weight</th>
                </tr>
            </thead>

                <tr th:each="set: ${Sets}">
                    <td th:text="${set.rep}"></td>
                    <td th:text="${set.weight}"></td>
                </tr>
            </table>
            <a th:href="'/set/add/' + ${set.rep}">Add Set</a>
        </div>
        <div class="col">
        </div>
    </div>
</div>



</body>
</html>