body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.welcome_gym {
  position: relative;
  background-color: #343a40;
  background: url("../images/welcome_gym.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.welcome_gym {
  position: relative;
  background-color: #343a40;
  background: url("../images/welcome_gym.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.welcome_gym .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.welcome_gym h1 {
  font-size: 2rem;
}

.section {
padding-bottom: 10rem!important;
}

.footer {
min-height:100%;
z-index: $zindex-fixed;
}