<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<!--h1 th:text = "${title}">Default Title</h1-->
<nav th:replace="fragments :: navigation"></nav>
<div class="container">
    <img src="images/Treadmills.jpg" class="img-responsive">
    <div class="row">
        <div class="col-6-lg">
            <img src="images/Treadmills.jpg" style="width: 100%;">
        </div>
        <div class="col">
            <!--h1 th:text = "${title}">Default Title</h1>
            <h1>Welcome!</h1-->
        </div>
        <div class="col">
        </div>
    </div>
</div>
</body>
</html>